

.login-box{
    font-family: "BenchNine", serif;
    border: 1px solid rgb(0, 0, 0);
    background: white;
    width: 400px; 
    max-height: 650px; 
    margin: 50px auto;
    text-align: center;
    border-radius: 15px;
    padding: 30px; 
    font-weight: 300;
}


img{
    margin: 20px;
}


.fp{
    text-align: start;
    font-size: 15px;
    margin-left: 50px;
}

.i1,.i2{
    margin: 10px;
    width: 400px;
    height: 50px;
    border: #c1601c;
    box-shadow: 2px 2px 5px #DB6B1A;
}

.loginb{
    width: 400px;
    height: 50px;
    border: none;
    border-radius: 35px;
    background-color: #9956C5;
    color: white;
    box-shadow: 2px 2px 5px #000000;
    font-family: "BenchNine", serif;
    font-weight: 300;
    font-style: normal;
    font-size: 25px;
    margin: 10px;
}

.signupb{
    width: 400px;
    height: 50px;
    border: none;
    border-radius: 35px;
    background-color: black;
    color: white;
    box-shadow: 2px 2px 5px #000000;
    font-family: "BenchNine", serif;
    font-weight: 300;
    font-style: normal;
    font-size: 25px;
    margin: 10px;
}
